/*body {
  background-color: black;
}*/

.white {
  background-color: black;
}

.black {
  background-color: white;
}

a {
  font-size: 20px;
}

h1 {
  text-align: center;
  /*color: white;*/
}

label, legend, input {
  text-align: right;
  /*color: white;*/
}

.themeButton {
  color: black;
}

form {
  text-align: right;
}

.box {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  float: left;
  /*border-style: solid;*/
  /*border-width: 1px;*/
  /*border-color: hsl(0, 0%, 28%);*/
  /*border-color: black;*/
}

#main, #answer {
  margin: 0 auto;
  height: 110px;
  width: 610px;
}

.form-horizontal {
  text-align: center;
}
